<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-12" id="inicio">
            <h1>Lista de tareas</h1>
        </div>
        <div class="col-sm-3" id="vacio1">
        
        </div>
        <div class="col-sm-6" id="agregar">       
            <form action="{{ url_for('add') }}" method="POST" class="box">
                <h2>Agregar nuevo item</h2>
                <input type="text" name="todoitem">
                <input type="submit" value="Agregar">
            </form> 
        </div>
        <div class="col-sm-3" id="vacio1">
        
        </div>
        <div class="col-sm-3" id="vacio1">
        
        </div>
        <div class="col-sm-6" id="lista">
            
            <h1>Tareas incompletas</h1>
            <ul>
                {% for todo in incomplete %}
                <li style="font-size: 30pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Tarea Completada</a></li>
                {% endfor %}    
            </ul>
            <h2>Completed Items</h2>
            <ul>
                {% for todo in complete %}
                <li style="font-size: 30pt">{{ todo.text }}</li>
                {% endfor %}
            </ul>
            
        </div>
        <div class="col-sm-3" id="vacio1">
        
        </div>
        <div class="col-sm-12" id="vacio1">
        
        </div>
    </div>
</div>
    
    
    
</body>
</html>