<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://kit.fontawesome.com/2a4d50586d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Lista de tareas</title>
</head>

<body style="background: #D88E53">
    <div class="row m-3">
        <div class="col-md-3 card p-3 m-3" style="width: 20rem; background: #FFFFFF">
            <h3>Lista de tareas</h3>
            <form action="{{ url_for('add') }}" method="POST">
                <h4>Agregar tarea</h4>
                <input type="text" name="todoitem" class="form-control" required>
                <br />
                <input type="submit" value="Agregar" class="btn btn-primary">
            </form>
        </div>
        <div class="col-md-4 card p-3 m-3" style="width: 20rem;text-align: center; background: #FFFFFF">
            <h3>Tareas sin terminar</h3>
            <ul class="list-group">
                {% for todo in incomplete %}
                <li class="list-group-item"><span style="font-size: 23px;">{{ todo.text }}</span>
                    <a style="color: white;" href="{{ url_for('complete', id=todo.id) }}"><button type="button" class="btn btn-success">
                            <i class="fas fa-check"></i>
                        </button></a>
                    <a style="color: white;" href="{{ url_for('delete', id=todo.id) }}"><button type="button" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 card p-3 m-3" style="width: 20rem; text-align: center; background: #FFFFFF">
            <h3>Tareas terminadas</h3>
            <ul>
                {% for todo in complete %}
                <li class="list-group-item"><span style="font-size: 23px;">{{ todo.text }}</span>
                    <a style="color: white;" href="{{ url_for('incomplete', id=todo.id) }}"><button type="button" class="btn btn-warning">
                            <i class="fas fa-undo-alt"></i>
                        </button></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- style="text-align: center;" -->
</body>

</html>